/* line 1, ../sass/caroussel.scss */
*:focus {
  border: none !important;
  outline: none !important;
}

@font-face {
  font-family: 'fontawesome';
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/caroussel.scss */
#container__caroussel .carousel {
  display: none;
}

/* line 19, ../sass/caroussel.scss */
.item {
  margin: 40px 10px;
  background-color: whitesmoke;
  box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
  transition: transform 0.3s;
  transform: translate(0, -1px, 0);
}
/* line 25, ../sass/caroussel.scss */
.item img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 30, ../sass/caroussel.scss */
.item__body {
  padding: 25px;
}
/* line 33, ../sass/caroussel.scss */
.item__title {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #232323;
}
/* line 39, ../sass/caroussel.scss */
.item__descrition {
  color: #585858;
}

/* line 43, ../sass/caroussel.scss */
#carousel1 {
  width: 100%;
  margin: auto;
}
/* line 46, ../sass/caroussel.scss */
#carousel1 .carousel {
  display: block;
}

/**
carousel
*/
/* line 54, ../sass/caroussel.scss */
.carousel {
  position: relative;
  overflow: hidden;
  height: 515px;
}
/* line 58, ../sass/caroussel.scss */
.carousel__item {
  float: left;
}
@keyframes slider {
  0%, 45%, 100% {
    left: 0;
  }
  50%, 95% {
    left: -100%;
  }
}
/* line 65, ../sass/caroussel.scss */
.carousel__container {
  animation: slider 5s infinite;
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}
/* line 69, ../sass/caroussel.scss */
.carousel__container:after {
  content: '';
  clear: both;
  display: table;
}
/* line 75, ../sass/caroussel.scss */
.carousel__next, .carousel__prev, .carousel__play, .carousel__pause {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: -20px;
  box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}
/* line 84, ../sass/caroussel.scss */
.carousel__next:hover, .carousel__prev:hover, .carousel__play:hover, .carousel__pause:hover {
  transform: scale(1.2);
}
/* line 89, ../sass/caroussel.scss */
.carousel__prev {
  top: 50%;
  left: 0px;
  background: whitesmoke url(../sass/imageCaroussel/flecheg.png) center center no-repeat;
  background-size: 20px 20px;
}
/* line 94, ../sass/caroussel.scss */
.carousel__prev--hidden {
  opacity: 0;
}
/* line 98, ../sass/caroussel.scss */
.carousel__next {
  top: 50%;
  right: 0px;
  background: whitesmoke url(../sass/imageCaroussel/fleched.png) center center no-repeat;
  background-size: 20px 20px;
}
/* line 103, ../sass/caroussel.scss */
.carousel__next--hidden {
  opacity: 0;
}
/* line 107, ../sass/caroussel.scss */
.carousel__play {
  right: 1%;
  bottom: 1%;
  background: grey url(../sass/imageCaroussel/play.png) center center no-repeat;
  background-size: 20px 20px;
}
/* line 113, ../sass/caroussel.scss */
.carousel__pause {
  right: 8%;
  bottom: 1%;
  background: grey url(../sass/imageCaroussel/pause.png) center center no-repeat;
  background-size: 20px 20px;
}
/* line 119, ../sass/caroussel.scss */
.carousel__pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}
/* line 127, ../sass/caroussel.scss */
.carousel__pagination__button {
  background-color: whitesmoke;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  box-shadow: 0 2px 5px #3232321a;
  transition: transform 0.3s;
  cursor: pointer;
}
/* line 137, ../sass/caroussel.scss */
.carousel__pagination__button--active, .carousel__pagination__button:hover {
  transform: scale(1.4);
}

/* line 143, ../sass/caroussel.scss */
figcaption {
  position: absolute;
  top: 70%;
  margin-left: 2%;
}

@media screen and (max-width: 1024px) {
  /* line 149, ../sass/caroussel.scss */
  .carousel {
    height: 390px;
  }
}
@media screen and (max-width: 760px) {
  /* line 154, ../sass/caroussel.scss */
  #container {
    display: block;
  }

  /* line 157, ../sass/caroussel.scss */
  .carousel {
    height: 225px;
  }
  /* line 159, ../sass/caroussel.scss */
  .carousel__next, .carousel__prev, .carousel__play, .carousel__pause {
    width: 20px;
    height: 20px;
  }
  /* line 164, ../sass/caroussel.scss */
  .carousel__prev {
    left: 5px;
  }
  /* line 167, ../sass/caroussel.scss */
  .carousel__next {
    right: 5px;
  }

  /* line 171, ../sass/caroussel.scss */
  figcaption {
    top: 60%;
  }
}
@media screen and (max-width: 768px) {
  /* line 176, ../sass/caroussel.scss */
  .carousel__pagination {
    display: block;
  }
}
