td{
    padding: 0.4em;
    border: 1px solid black;
    text-align: center;
    &[scope="col"]{
        background-color: white;
    }
}
th[scope="row"]{
    background-color: $titleColor;
    padding: 2px;
    text-align: center;
}
th[scope="rowRaid"]{
        background-color: $titleColor;
        display: flex;
        flex-direction: row;
        justify-content: center;
}
#button_menu{
    border: 1px solid $button;
    background-color: $button;
    span{
        display: block;
    }
}
.button{
    padding: 0.1em;
}
.bouton4 {
    text-align: center;
	padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:100px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
}
#bouton5 {
    text-align: center;
	padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:175px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
}
.message{
    display: flex;
    justify-content: center;
    height: 40px;
    &_text{
        background: white;
    }
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

li {
    list-style:none !important;
    color:#FFF;
    padding:10px;
    font-size:17px;
    text-decoration:none;
    }
     
nav ul {
    padding:0;
    margin:0;
    }
     
nav ul li {
    list-style: none;
    line-height:5px;
    float:left;
    background-color:rgba($color: #ffffff, $alpha: 0.1);
    @media  screen and (max-width:800px) {
        line-height: 15px;
        background-color: rgba($color: #071a52, $alpha: 0.9);
    }
}
     
nav ul li a {
    color:#FFF;
    padding:4px;
    font-size:17px;
    text-decoration:none;
    &:hover{
        color: #A7FF83;
    }
    }
nav ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */
     
nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:5px;
    margin-left:-10px;
    }
     
nav ul li:hover ul li {
    float:none;
    }
li > a:after { content: "\f201"; } /* Changer ce afin de changer le symbole du menu déroulant */
 
li > a:only-child:after { content: ''; }

.tab{
    display: flex;
    flex-direction: row-reverse;
}
.boxh{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media screen and (max-width:800px) {
            display: block;
        }
}
.box_connection{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
}
.d_none{
    @media screen and (max-width:800px) {
        display: none !important;
    }
}


