@font-face {
  font-family: 'fontawesome';
  src: url("fonts/fontawesome/fontawesome-webfont.eot");
  src: url("fonts/fontawesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'glyphicons';
  src: url("fonts/glyphicons/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons/glyphicons-halflings-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 19, ../../sass/Base/base.scss */
body, html {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: flex-end;
  overflow-x: hidden;
  width: 100%;
}

/* line 27, ../../sass/Base/base.scss */
html {
  margin: auto;
  display: flex;
}

/* line 32, ../../sass/Base/base.scss */
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 37, ../../sass/Base/base.scss */
.margin {
  margin: 5px;
}
