#menu_dir{
    justify-content: flex-end;
}
.menu_dir{
    display: flex;
    justify-content: flex-end;
}

.card_home_center{
    align-items: center;
}
.card_home{
    &_width{
        width: 70%;
        @media screen and (max-width: 1024px){
            width: 100%;
        } 
    }
    &_center{
        align-items: center;
    }
    &_border{
        margin: auto;
        margin-bottom: 2%;
        padding: 10px;
	    box-shadow:10px 10px 3px #999;
    }
}

